# File: docs/requirements.txt

# Defining the exact version will make sure things don't break
sphinx==4.0.2
sphinx_rtd_theme==0.5.2
readthedocs-sphinx-search==0.1.0
numpy==1.20.3
pandas==1.2.3
scipy==1.6.3
lowtran==2.4.1